.home-text {
  text-align: center;
}



/* body {
  min-height: 850px;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: larger;
  font-weight: 500;
}

.title {
  font-family: 'Josefin Slab', serif;
}

#Jumbotron {
  /* #373B44 */
/* background: #F0FFFF;
  box-shadow: 15px 15px 5px #DEB887;
  border-radius: 20px;
}

.navbar {
  background-color: #141e30 !important;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-linear-gradient: (to right, #F0FFFF, #F0FFFF, #F0FFFF);
  -linear-gradient: (to right, #F0FFFF, #F0FFFF, #F0FFFF)';

}

footer {
  background-color: #141e30 !important;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-linear-gradient: (to right, #F0FFFF, #F0FFFF, #F0FFFF);
  -linear-gradient: (to right, #F0FFFF, #F0FFFF, #F0FFFF)';

} */